<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="gpio">

  <ros2_control name="gpio_system" type="system">

    <hardware>
      <plugin>ethercat_driver/EthercatDriver</plugin>
      <param name="master_id">0</param>
      <param name="control_frequency">100</param>
    </hardware>

    <gpio name="gpio1">
      <command_interface name="dig_input.0"/>
      <command_interface name="dig_input.1"/>
      <command_interface name="dig_input.2"/>
      <command_interface name="dig_input.3"/>
      <command_interface name="dig_input.4"/>
      <command_interface name="dig_input.5"/>
      <command_interface name="dig_input.6"/>
      <command_interface name="dig_input.7"/>
      <command_interface name="dig_input.8"/>
      <command_interface name="dig_input.9"/>
      <command_interface name="dig_input.10"/>
      <command_interface name="dig_input.11"/>
      <command_interface name="dig_input.12"/>
      <command_interface name="dig_input.13"/>
      <command_interface name="dig_input.14"/>
      <command_interface name="dig_input.15"/>

      <state_interface name="dig_input.0"/>
      <state_interface name="dig_input.1"/>
      <state_interface name="dig_input.2"/>
      <state_interface name="dig_input.3"/>
      <state_interface name="dig_input.4"/>
      <state_interface name="dig_input.5"/>
      <state_interface name="dig_input.6"/>
      <state_interface name="dig_input.7"/>
      <state_interface name="dig_input.8"/>
      <state_interface name="dig_input.9"/>
      <state_interface name="dig_input.10"/>
      <state_interface name="dig_input.11"/>
      <state_interface name="dig_input.12"/>
      <state_interface name="dig_input.13"/>
      <state_interface name="dig_input.14"/>
      <state_interface name="dig_input.15"/>
      <ec_module name="Omron_NX_ECC201_NX_ID5442">
        <plugin>ethercat_plugins/Omron_NX_ECC201_NX_ID5442</plugin>
        <param name="alias">0</param>
        <param name="position">0</param>
        <param name="di.0">dig_input.0</param>
        <param name="di.1">dig_input.1</param>
        <param name="di.2">dig_input.2</param>
        <param name="di.3">dig_input.3</param>
        <param name="di.4">dig_input.4</param>
        <param name="di.5">dig_input.5</param>
        <param name="di.6">dig_input.6</param>
        <param name="di.7">dig_input.7</param>
        <param name="di.8">dig_input.8</param>
        <param name="di.9">dig_input.9</param>
        <param name="di.10">dig_input.10</param>
        <param name="di.11">dig_input.11</param>
        <param name="di.12">dig_input.12</param>
        <param name="di.13">dig_input.13</param>
        <param name="di.14">dig_input.14</param>
        <param name="di.15">dig_input.15</param>
      </ec_module>
    </gpio>

    <gpio name="gpio2">
      <command_interface name="dig_output.0"/>
      <command_interface name="dig_output.1"/>
      <command_interface name="dig_output.2"/>
      <command_interface name="dig_output.3"/>
      <command_interface name="dig_output.4"/>
      <command_interface name="dig_output.5"/>
      <command_interface name="dig_output.6"/>
      <command_interface name="dig_output.7"/>
      <command_interface name="dig_output.8"/>
      <command_interface name="dig_output.9"/>
      <command_interface name="dig_output.10"/>
      <command_interface name="dig_output.11"/>
      <command_interface name="dig_output.12"/>
      <command_interface name="dig_output.13"/>
      <command_interface name="dig_output.14"/>
      <command_interface name="dig_output.15"/>

      <state_interface name="dig_output.0"/>
      <state_interface name="dig_output.1"/>
      <state_interface name="dig_output.2"/>
      <state_interface name="dig_output.3"/>
      <state_interface name="dig_output.4"/>
      <state_interface name="dig_output.5"/>
      <state_interface name="dig_output.6"/>
      <state_interface name="dig_output.7"/>
      <state_interface name="dig_output.8"/>
      <state_interface name="dig_output.9"/>
      <state_interface name="dig_output.10"/>
      <state_interface name="dig_output.11"/>
      <state_interface name="dig_output.12"/>
      <state_interface name="dig_output.13"/>
      <state_interface name="dig_output.14"/>
      <state_interface name="dig_output.15"/>
      <ec_module name="Omron_NX_ECC201_NX_OD5256">
        <plugin>ethercat_plugins/Omron_NX_ECC201_NX_OD5256</plugin>
        <param name="alias">0</param>
        <param name="position">0</param>
        <param name="do.0">dig_output.0</param>
        <param name="do.1">dig_output.1</param>
        <param name="do.2">dig_output.2</param>
        <param name="do.3">dig_output.3</param>
        <param name="do.4">dig_output.4</param>
        <param name="do.5">dig_output.5</param>
        <param name="do.6">dig_output.6</param>
        <param name="do.7">dig_output.7</param>
        <param name="do.8">dig_output.8</param>
        <param name="do.9">dig_output.9</param>
        <param name="do.10">dig_output.10</param>
        <param name="do.11">dig_output.11</param>
        <param name="do.12">dig_output.12</param>
        <param name="do.13">dig_output.13</param>
        <param name="do.14">dig_output.14</param>
        <param name="do.15">dig_output.15</param>
      </ec_module>
    </gpio>

  </ros2_control>

</robot>
